@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Flavor 
<div class="border p-3">
  <div class="row">
    <div class="col-8">
      <div class="form-group row">
        <div class="col-4">
          @Html.DisplayFor(model => model.Name)
        </div>
      </div>
    </div>
  </div>
</div>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>