@{
    Layout = "_Layout";
}

@model SweetSavory.Models.Flavor

<div class="form-group row">
    <h2 class="text-info pl-3">Edit Flavor</h2>
</div>
<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.EditorFor(model => model.Name)

    @Html.DropDownList("TreatId", null, new { placeholder = "Select Treat", @class ="form-group" })
    @* @Html.LabelFor(model => model.JoinEntities)
    @Html.DropDownList("TreatId") *@


    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>